/*
 * Lattice V0.0
 * Copyright 2013, Dave Gamache, Matt Hernandez
 * Free to use under the MIT license.
 */

// Table of Content
// ==================================================
//  #Site Styles
//  #Page Styles
//  #Media Queries
//  #Font-Face

// #Site Styles
// ==================================================


// #Page Styles
// ==================================================


// #Media Queries
// ==================================================

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

// #Font-Face
// ==================================================
//  This is the proper syntax for an @font-face file
//  Just create a "fonts" folder at the root,
//  copy your FontName into code below and remove
//  comment brackets

//@font-face {
//  font-family: 'FontName';
//  src: font-url('FontName.eot');
//  src: font-url('FontName.eot?iefix') format('eot'),
//       font-url('FontName.woff') format('woff'),
//       font-url('FontName.ttf') format('truetype'),
//       font-url('FontName.svg#webfontZam02nTh') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
